.hidden {
    display: none;
}

.min-height {
    min-height: 30px;
}

.debug-colors .dbg-color-1 {
    background: #B24C56;
}

.debug-colors .dbg-color-2 {
    background: #FFFCA0;
}

.debug-colors .dbg-color-3 {
    background: #57A5CC;
}

.debug-colors .dbg-color-4 {
    background: #FF8792;
}

.debug-colors .dbg-color-5 {
    background: #FA04E1;
}

.debug-colors .dbg-color-6 {
    background: grey;
}

.debug-colors .dbg-color-7 {
    background: teal;
}

ul.list-group {
  margin-bottom: 0px;
}

.project-tile {
    -webkit-border-radius: 10px;
            border-radius: 10px;
            background: lightgrey;
            border-color: darkgrey;
            border-style: solid;
            border-width: 1px;
}
.tags-container span {
    margin-bottom: 4px;
}